body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p {
  line-height: 27px;
}
header .navbar,
#characters,
#copy {
  background-color: #faf0dc;
}
header .navbar .navbar-brand img {
  width: 230px;
}
header .navbar .navbar-collapse .navbar-nav .nav-link {
  text-transform: uppercase;
  color: rgb(14, 14, 14);
  padding-right: 36px;
  font-size: 0.9em;
  font-family: "Montserrat", sans-serif;
}
#rainbowBg {
  background: url(../images/rainbow.png) no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 86vh;
}
#motherChildren h1 {
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
#motherChildren .ebook {
  font-family: "Inter", sans-serif;
}
#motherChildren .ebook h5 {
  color: #8e9fb4;
  font-weight: 700;
  padding-right: 5em;
}
#motherChildren p {
  font-size: 0.9em;
  font-family: "Comfortaa", cursive;
  line-height: 25px;
}
footer {
  font-family: "Comfortaa", cursive;
  background-color: #8eb4db;
}
footer img {
  width: 230px;
}
footer p {
  color: white;
}
footer .socialLinks a {
  height: 47px;
  width: 47px;
  line-height: 47px;
  border-radius: 50%;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #8eb4db;
  background-color: white;
}
